<div class='row'>
  <div class='col s12'>
    <table class='bordered highlight'>
      <thead>
      <tr>
        <th class='center-align'>Dia</th>
        <th class='center-align'>Valor</th>
        <th class='center-align' colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @goal_dates.each do |goal_date| %>
          <tr>
            <td class='center-align'><%= goal_date.day.strftime('%d/%m/%Y') %></td>
            <td class='center-align'>R$ <%= goal_date.value %></td>
            <td class='center-align'>
              <%= link_to(edit_goal_date_path(goal_date), class: 'btn-flat tooltipped', 'data-tooltip' => 'Editar') do %>
                  <i class='material-icons'>mode_edit</i>
              <% end %>
            </td>
            <td class='center-align'>
              <% if @goal_dates.count > 1%>
                  <%= link_to(goal_date_path(goal_date), method: :delete, class: 'btn-flat tooltipped', 'data-tooltip' => 'Remover', 'data-confirm' => 'Tem certeza que deseja apagar essa loja?') do %>
                      <i class='material-icons'>delete</i>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>