@import "materialize";
@import "materialize/components/color";
@import "material_icons";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {

  color: #2E2F30;
  font: {
    family: 'Open Sans', sans-serif;
    size: 12px;
  }

}

.textos {
  color: #225F86 !important;
}

.login {
  color: #bd9d51 !important;
}

.login_btn {
  background-color: #bd9d51 !important;
}

.login_page {
  background-image: url('dust_scratches.png');
}

html, body {
  font-family: 'Open Sans' !important;
}

header, main, footer {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #225F86;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #225F86;
  will-change: left, right;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}